$active-color: #805ab1;
$primary-color: #41bee5;

$background-color: #f6fcfe;

$text-white: white;

$text-gray: #3d3d3d;
$text-gray40: rgba(61, 61, 61, 0.4);
$text-gray80: rgba(61, 61, 61, 0.8);
$text-gray800: #474a57;
$text-gray900: #18191f;

$font-Montserrat: "Montserrat", sans-serif;
